@import "~src/framework";

.master-text-wrapper {
  position: absolute;
  top: 6*$stepDefault;
  left: 0;
  width: 100%;
  padding: 0 $stepDefault;
  text-align: center;

  .master-text {
    @extend .text-h2;
  }
}

.remember-word-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: $stepDefault;

  .choose-answer {
    padding: $stepDefault;
    @extend .text-default;
    color: $colorMain;
    border-top: 1px solid $colorLight;
  }

  .remember-word {
    text-align: center;
    @extend .text-default;
  }
}
