<div class="master-text-wrapper">
  <div class="master-text text">Your</div>
</div>

<div class="answer-wrapper">
  <div class="choose-answer text">Choose Answer</div>
  <mat-radio-group class="answers-radio" aria-label="Select an answer">
    <mat-radio-button class="radio" value="1">Его</mat-radio-button>
    <mat-radio-button class="radio" value="2">Они</mat-radio-button>
    <mat-radio-button class="radio" value="3">Твое</mat-radio-button>
    <mat-radio-button class="radio" value="4">Дом</mat-radio-button>
  </mat-radio-group>
</div>
