$colorMain: #636363e8;
$colorMainStrong: #000000e8;
$colorLight: #63636317;
$colorGreen: #43c692;

$colorSecondary: #606d88;
$colorHighlight: $colorGreen;
$colorBackgroundLight: #f9f9f9;

$textFontSizeOrigin: 13px;
$textFontSizeDefault: 1em;
$textFontSizeH2: 1.3em;
$textFontSizeH1: 1.54em;

$text-color-default: $colorMainStrong;

$fontHighlight: "Crete Round";

//#region Media

$mediaMobile: 420px;
$mediaTabletSmall: 768px;
$mediaTable: 1024px;
$mediaLaptopDesktop: 1440px;
$mediaDesktop: 1920px;

@mixin mediaScreen($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

//#endregion

//#region Padding & Margins

$stepDefault: 20px;

//#endregion

//#region Text
.text {
  letter-spacing: 1px;

  &.highlight, .highlight {
    font-weight: bold;
    font-size: 120%;
  }
}

.text-white {
  color: #f9f9f9 !important;
}

.text-default {
  font-size: $textFontSizeDefault;
  line-height: 18px;
  color: $text-color-default;
  letter-spacing: 1px;
}

.text-secondary {
  @extend .text-default;
  color: $colorMain;
}

.text-h2 {
  font-size: $textFontSizeH2;
  line-height: 25px;
  color: $text-color-default;
  letter-spacing: 1px;
}

.text-h1 {
  font-size: $textFontSizeH1;
  line-height: 30px;
  color: $text-color-default;
  letter-spacing: 2px;
}
//#endregion

//#region Figure
@mixin figureDot($size: 4px, $bgColor: $text-color-default)
{
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $bgColor;
}
//#endregion

//#region Layouts
@mixin card($bgColor: white) {
  background-color: $bgColor;
  display: block;
  position: relative;
  box-shadow: 0 0 4px 0 darken($colorLight, 30%);
}
//#endregion


