@import '~reset-css/reset.css';
@import url('https://fonts.googleapis.com/css?family=Crete+Round|Anton|Roboto|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "framework";

html, body {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
  font-size: $textFontSizeOrigin;

  * {
    font-family: 'Helventica', sans-serif;
    box-sizing: border-box;
  }
}

//#region Overrides
.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: $colorHighlight !important;

  .mat-button-wrapper {
    font-weight: bold;
    letter-spacing: 1px;
  }
}
//#endregion
